---
- name: Install uWSGI
  pip: name=uwsgi
  sudo: yes

- name: Make required folders
  command: mkdir -p {{ item }}
  with_items: ['/var/log/uwsgi', '/etc/uwsgi']
  sudo: yes

- include: emperor.yml
  sudo: yes
  tags: [uwsgi, emperor]

- include: vassal.yml
  sudo: yes
  sudo_user: {{ uwsgi_vassal_user }}
  tags: [uwsgi, vassal]
