[uwsgi]
# For common settings see: /etc/uwsgi/vassals-default.ini

# Define custom variables
vassal_name = {{ uwsgi_vassal_name }}
vassal_path = {{ uwsgi_vassal_path }}

touch-reload = %p
module = {{ uwsgi_vassal_app }}

{% for option in uwsgi_vassal_options %}
{{option}}
{% endfor %}
